body {
    text-align: center;
    background-color: rgb(108, 255, 164);
}

.heading {
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgb(103, 68, 255);
    font-size: 2rem;
}

.tap {
    font-size: 1.5rem;
}

img {
    visibility: hidden;
    display: none;
}

.dice {
    border: 2px solid rgb(155, 2, 2);
    border-radius: 10%;
    background-color: #ce1212;
    box-shadow: 2px 2px 4px black;
    padding: 10%;
    width: 13%;
    position: relative;
    display: inline-block;
    margin-top: 100px;
}

.point {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding: 7%;
    position: absolute;
    visibility: hidden;
}

/* For 6 */

.point-1for6 {
    left: 15%;
    top: 15%;
    visibility: visible;
}

.point-2for6 {
    right: 15%;
    top: 15%;
    visibility: visible;
}

.point-3for6 {
    left: 15%;
    top: 42%;
    visibility: visible;
}

.point-4for6 {
    right: 15%;
    top: 42%;
    visibility: visible;
}

.point-5for6 {
    left: 15%;
    bottom: 15%;
    visibility: visible;
}

.point-6for6 {
    right: 15%;
    bottom: 15%;
    visibility: visible;
}

/* For 5, 4, 3, 2, 1 */

.point-1 {
    left: 15%;
    top: 15%;
    visibility: visible;
}    

.point-2 {
    right: 15%;
    top: 15%;
    visibility: visible;
}

.point-3 {
    left: 15%;
    bottom: 15%;
    visibility: visible;
}

.point-4 {
    right: 15%;
    bottom: 15%;
    visibility: visible;
}

.point-5 {
    left: 40%;
    bottom: 40%;
    visibility: visible;
}

/* You Get */

.youget {
    margin: 25px;
    font-size: 1.1rem;
}

/* Footer */

#footer {
    padding-bottom: 2%;
    text-align: center;
    position: absolute;
    bottom: 1%;
    left: 25%;
    line-height: 0.8rem;
  }
  
  #footer .fab {
    margin: 20px 10px;
    font-size: 2rem;
  }
  
  #footer a {
    text-decoration: none;
  }
  